body {
    font-family: sans-serif;
    background-image: url("https://image.ibb.co/cO9Lxq/login-bg.jpg");
    color: white;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}



h1 {
    color: white;
    text-align: 
}

#wrapper {
    display: flex;
    flex-direction: row;  
}

#left {
 display: flex;
 flex-direction:
 flex: 1;
 align-items: center;
 justify-content: center;
 height: 100vh;

}

#right {
 flex: 1;
}

#signin {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 80%;
padding-bottom: 1rem;

}

#signin form {
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo {
    margin-bottom: 8vh;
}

#signin .logo img {
    width: 300px;
}
#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}
#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}
#signin .or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}
#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}

#main footer a {
    color: #f96816;
    text-decoration: underline;
}
.primary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background: #4b85f1;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}
.secondary-btn:hover {
    background-color: #ff7b39;
}
#signin .primary-btn {
    width: 100%;

}